.leftContent {
	border: 0px red solid;
	transition: width 5s;
}

.sideNavbar {
	transition: width 0.1s linear;
}

.content {
	border: 0px red solid;
	max-height: 900px;
	overflow: auto;
}

.sideNavbarOffcanvasOpenBtn {
	border: 0px red solid;
	/* width: 10px;
	height: 10px; */
}
